@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

:root {
  --color-light: #f6f7fa;
  --color-light-grey: #e4ebed;
  --color-dark: #000;

  --global-radius: 10px;
  --global-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);

  --max-width: 1024px;
}

body {
  /* background: linear-gradient(rgb(19, 208, 233), rgb(0, 116, 194)); */

  background-color: var(--color-light-grey);
  /* background-color: #ffffff; */
  font-family: "Rajdhani", sans-serif;
}
#root {
  /* display: flex;
  flex-direction: column;
  justify-content: stretch; */
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  /* color: #fff; */
}
header h1 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}
header p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.wrapper {
  height: 100%;
  max-width: 1024px;
  margin: auto;
}
.columns {
  display: grid;
  height: 100%;
}
.columns--2 {
  grid-template-columns: 1fr 1fr;
}
.column {
  height: 100%;
}
.column--left {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 80px 1fr 1fr;
  gap: 2em;
  padding: 1em;
  /* background: linear-gradient(rgb(19, 208, 233), rgb(0, 116, 194)); */
  border-top-right-radius: 80px;
  border-bottom-right-radius: 30px;
}
.column--right {
  box-sizing: border-box;
  padding: 1em;
  min-height: 30rem;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

@media screen and (max-width: 768px) {
  .columns--2 {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 80px;
}

footer p {
  margin: 0;
}
.footer__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 100%;
}
.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 15px;
}
/* Dashboard Layout */
.dashboard__wrapper {
  height: 100px;
  flex-grow: 1;
  margin: 1em;
}
.dashboard__container {
  max-width: 1024px;
  margin: auto;
  height: 100%;
}
.dashboard__grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 2fr;
  gap: 1em;
  box-sizing: border-box;
}
.panel__grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  gap: 3em;
  box-sizing: border-box;
}
.card--list {
  grid-column: 2;
  grid-row: 1 / span 2;
}
@media screen and (max-width: 768px) {
  .dashboard__wrapper {
    height: 100px;
    /* flex-grow: 1; */
    margin: none;
  }
  .dashboard__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
  }
  .card--list {
    grid-column: 1;
    grid-row: 1;
  }
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--global-radius);
  box-shadow: var(--global-box-shadow);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 1em;
  background-color: #fff;
  border-top-right-radius: var(--global-radius);
  border-top-left-radius: var(--global-radius);
  /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); */
}
.card__header h3 {
  margin: 0;
}
.card__body {
  /* padding: 1em; */
  background-color: white;
  min-height: 100px;
  flex-grow: 1;
  z-index: 0;
}
.card__body--scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}
.card__footer {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1em;
  box-sizing: border-box;
  /* height: 100px; */
  background-color: #fff;
  /* border-top: 0.5px solid rgba(0, 0, 0, 0.2); */
  border-bottom-left-radius: var(--global-radius);
  border-bottom-right-radius: var(--global-radius);
}
.card__total {
  width: 100%;
  text-align: right;
  font-size: 1.8em;
  font-weight: 600;
}

.list {
  display: grid;
  grid-template-rows: auto;
}
.list--compact {
  display: flex;
  flex-direction: column;
}
.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list__item--compact {
  padding: 0.5em 1em;
  background-color: #fff;
}
.list__item--big {
  background-color: #fff;
  /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.1); */
}
/* .list__item--big:first-child {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
} */
.list__item-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 4em;
}
.list__user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 1em 1em;
  color: #fff;
}

.list__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.list__item-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  opacity: 0.7;
}
.list__item-price {
  font-size: 1em;
  font-weight: 700;
}
.list__user {
  display: flex;
  align-items: center;
}
.list__username {
  margin-left: 0.7em;
  font-weight: 500;
}
.list__infos {
  display: flex;
  align-items: center;
}
.list__price {
  margin-right: 0.7em;
  text-align: right;
  font-weight: 500;
}
.list__remove {
  cursor: pointer;
  opacity: 0.7;
}
.list__remove:hover {
  opacity: 1;
}
.list__item-folder {
  cursor: pointer;
}
.list__item-remove {
  opacity: 0.7;
  cursor: pointer;
  transform: rotate(90deg);
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.list__item-remove:hover {
  transform: rotate(0deg);
}

.button {
  font-weight: 600;
  outline: none;
  appearance: none;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  vertical-align: middle;
  padding: 0.5em 1em;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 5px;
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.button:active {
  transform: scale(0.95);
}
.button--light {
  background-color: #fff;
  color: #000;
}
.button--dark {
  background-color: var(--color-dark);
  color: #fff;
}
.button--transparent {
  height: 0;
  width: 0;
  background-color: transparent;
  border: none;
}
.button--square {
  height: 2em;
  width: 2em;
}
.button__text {
  vertical-align: middle;
}
.button__icon {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  width: auto;
  margin-left: 0.5em;
}

.form__group {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  width: auto;
  padding: 1em;
}
.form__grid--row {
  width: 100%;
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  gap: 1em;
}

.input,
select {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  box-sizing: border-box;
}
.input:hover {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}
.input:focus {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}
input[type="color"] {
  opacity: 1;
  display: block;
  width: 2em;
  height: 2em;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100px;
  box-sizing: border-box;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 100px;
  padding: 0;
}
